#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Guild house config
########################################

#    GuildHouse.Enable
#        Description: Enable the Guild House module.
#            If set to 0, access will be disabled.
#
#        Default:    0 - Disabled (Mod will not work)
#                    1 - Enabled (Full access to mod)
#

GuildHouse.Enable = 0

#    GuildHouse.Free
#        Description: Allow the purchase of individually selected items to have no cost.
#            If set to 0, all items will have a cost.
#
#        Default:    0 - Disabled (All items have a cost)
#                    1 - Enabled (All items will be free)
#                    2 - Enabled (All items will be free and given to guild on house purchase)
#

GuildHouse.Free = 0

#    GuildHouse.Refund
#        Description: Refund percentage of cost when returning an item or selling the House.
#            Min 0, Max 1.
#
#        Default:    .8 - 80 percent
#

GuildHouse.Refund = .8

