#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Guild house config
########################################

#    GuildEnclave.Enable
#        Description: Enable the Guild House module.
#            If set to 0, access will be disabled.
#
#        Default:    0 - Disabled (Mod will not work)
#                    1 - Enabled (Full access to mod)
#

GuildEnclave.Enable = 0

#    GuildEnclave.Free
#        Description: Allow the purchase of individually selected items to have no cost.
#            If set to 0, all items will have a cost.
#
#        Default:    0 - Disabled (All items have a cost)
#                    1 - Enabled (All items will be free)
#                    2 - Enabled (All items will be free and given to guild on house purchase)
#

GuildEnclave.Free = 0

#    GuildEnclave.Refund
#        Description: Refund percentage of cost when returning an item or selling the House.
#            Min 0, Max 1.
#
#        Default:    .8 - 80 percent
#

GuildEnclave.Refund = .8

#    GuildEnclave.NPCWander.Enabled
#        Description: Enable all NPC's to wander around.
#            If the distance is set as 0 in database, they will use the GuildEnclave.NPCWander.Distance set below when enabled.
#            If set to 0, They will not move if set in the database as 0.
#
#        Default:    0 - Disabled (Some NPCs dont move)
#                    1 - Enabled (ALL NPCs move)

GuildEnclave.NPCWander.Enabled = 1

#    GuildEnclave.NPCWander.Distance
#        Description: The distance a NPC will move if they have a wander of 0 set in the database.
#            A whole number with a Min = 0.
#
#        Default:    10
#

GuildEnclave.NPCWander.Distance = 10
